_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.gcov
patches/
.git-ignore/
.pc/
coverity/
coverage/
coverage.info
*.o
*.reject
*.orig
*.rej
*.so
*~
*.swp*
.gitignore
.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
cmake_install.cmake

# macOS files
.DS_Store
